*.pkl
**/__pycache__/
__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.pt
**.pt
**.ipynb
benchmark_data/*
!benchmark_data/.gitkeep
PPBind/cache_data/*
!PPBind/cache_data/.gitkeep
PPBind/trained_models/*
!PPBind/trained_models/.gitkeep



